In [1]:
import pandas as pd
import numpy as np
import s2cell

pd.set_option('display.max_columns', None)

### Data import and simple EDA

In [2]:
data = pd.read_parquet("../data/chicago_taxi_trips_2020.parquet").head(10000)

In [3]:
data.sample(5, random_state=0)

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
9394,2e92e04648b4a626c405dd99ae6242a051d570f1,3e322894ca5260db491dcaa83bfe35f75b16a6a785ff50...,2020-10-25 11:30:00,2020-10-25 12:45:00,4171.0,3.63,NaN,NaN,77.0,3.0,30.00,0.00,0.0,0.0,30.00,Prcard,Flash Cab,41.986712,-87.663416,POINT (-87.6634164054 41.9867117999),41.965812,-87.655879,POINT (-87.6558787862 41.96581197)
898,471df5e39cd4a2c5b1a4425852ae8b336dcbdb4e,35057a271731c5b976bda25efe85aa0c1901d0a5fc9ba2...,2020-01-15 09:30:00,2020-01-15 10:30:00,3600.0,18.10,1.703198e+10,1.703132e+10,76.0,32.0,47.75,10.55,0.0,5.0,63.30,Credit Card,Chicago Independents,41.979071,-87.903040,POINT (-87.9030396611 41.9790708201),41.877406,-87.621972,POINT (-87.6219716519 41.8774061234)
2398,23e3d9a3599d6807f0326467111af8516a142cfe,9d01f0a0e827dabe1826eeca4934668f74f1dc976b0945...,2020-10-10 15:00:00,2020-10-10 15:15:00,960.0,6.10,NaN,NaN,NaN,NaN,17.75,0.00,0.0,4.0,21.75,Cash,Medallion Leasin,NaN,NaN,None,NaN,NaN,None
5906,26f0a03af44bf8f9071c7fb61eb14a60a3a44cd3,bcda8c3cc4c7917b5e59fdbda4a08b57312fd55f6cb3cf...,2020-10-29 10:45:00,2020-10-29 11:15:00,1260.0,0.00,NaN,NaN,50.0,NaN,32.50,0.00,0.0,0.0,32.50,No Charge,Star North Management LLC,41.706126,-87.598256,POINT (-87.5982558383 41.7061257523),NaN,NaN,None
2343,b82e36af4ce91cb398b97b76f9e329c124f45c55,77c293089364b3b6e57866472146a042cdb4998a686b62...,2020-06-12 17:45:00,2020-06-12 17:45:00,32.0,0.00,NaN,NaN,NaN,NaN,3.25,0.00,0.0,0.0,3.25,Cash,Flash Cab,NaN,NaN,None,NaN,NaN,None

In [4]:
print("no. of rows:", len(data))
print("col names:", data.columns)

no. of rows: 10000
col names: Index(['unique_key', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
       'trip_seconds', 'trip_miles', 'pickup_census_tract',
       'dropoff_census_tract', 'pickup_community_area',
       'dropoff_community_area', 'fare', 'tips', 'tolls', 'extras',
       'trip_total', 'payment_type', 'company', 'pickup_latitude',
       'pickup_longitude', 'pickup_location', 'dropoff_latitude',
       'dropoff_longitude', 'dropoff_location'],
      dtype='object')

In [5]:
data.unique_key.nunique()

10000

In [6]:
# get data type
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   unique_key              10000 non-null  object
 1   taxi_id                 10000 non-null  object
 2   trip_start_timestamp    10000 non-null  datetime64[ns]
 3   trip_end_timestamp      10000 non-null  datetime64[ns]
 4   trip_seconds            9984 non-null   float64
 5   trip_miles              10000 non-null  float64
 6   pickup_census_tract     1631 non-null   float64
 7   dropoff_census_tract    1379 non-null   float64
 8   pickup_community_area   7471 non-null   float64
 9   dropoff_community_area  5123 non-null   float64
 10  fare                    9999 non-null   float64
 11  tips                    9999 non-null   float64
 12  tolls                   9999 non-null   float64
 13  extras                  9999 non-null   float64
 14  trip_total              9999 non-null   float64
 15  payment_type            10000 non-null  object
 16  company                 10000 non-null  object
 17  pickup_latitude         7472 non-null   float64
 18  pickup_longitude        7472 non-null   float64
 19  pickup_location         7472 non-null   object
 20  dropoff_latitude        5150 non-null   float64
 21  dropoff_longitude       5150 non-null   float64
 22  dropoff_location        5150 non-null   object
dtypes: datetime64[ns](2), float64(15), object(6)
memory usage: 1.8+ MB

### Feature Engineering

In [7]:
# https://pypi.org/project/s2cell/
# https://gojekfarm.github.io/s2-calc/

# Choosing level
# https://s2geometry.io/resources/s2cell_statistics.html 
# Set precision to 18 - 1237.07 meter sq

In [8]:
def feature_engineering(df):
    """ Feature engineering and dropping of unused columns, including:
    1. Creating YYYY-MM-DD date column
    2. Creating s2id from s2cell paclage
    3. dropping all unused columns
    """
    # create date
    df["date"] = df["trip_start_timestamp"].dt.strftime("%Y-%m-%d")
    
    # create s2id from s2cell
    df["s2id"] = df[["pickup_latitude", "pickup_longitude"]]\
                .apply(lambda x: s2cell.lat_lon_to_cell_id(x.pickup_latitude, x.pickup_longitude, 18)\
                if x.notnull().all() else 0, axis=1)
    data["s2id"] = data["s2id"].astype(str)
    
    # drop all unused columns
    df = df[["unique_key", "date", "s2id", "trip_miles", "trip_seconds", "fare"]]
    
    return df


data = feature_engineering(data)

,unique_key,date,s2id,trip_miles,trip_seconds,fare
0,14b9481a6851bde0960bec8e29cdde5511f8c109,2020-02-23,9804280735790530560,2.57,7036.0,45.00
1,17ee73b10802892678a1c5be65b4873c5234cb70,2020-02-02,9804280735790530560,1.50,360.0,6.75
2,0cb36d4f130a11dc142f99f165faa97d272a13cf,2020-02-15,9804280991374639104,0.20,600.0,12.00
3,0ac676651dbcc31a7a594b9340be7be8f647ad5f,2020-02-17,9804280538591133696,0.00,480.0,3.25
4,0eadf39393a57c92eec16452beab4a8903c9c593,2020-02-10,9804281108680933376,6.20,900.0,17.50
...,...,...,...,...,...,...
9995,78e56e0831bfbc530f3388e325457eab2611259a,2020-11-16,9803822648034066432,2.36,523.0,9.25
9996,5972607f4ac6607624fb56dba0f07212a529af4b,2020-07-19,9803827427426697216,10.30,1343.0,28.00
9997,b916fcfa9fd1b3a24964f847079ddc2e062d6109,2020-07-02,9803827427426697216,9.30,1140.0,25.50
9998,c936ac40faea7ddf2c56d9b0590746bf31a6cdd0,2020-10-26,9803827427426697216,0.00,960.0,25.25
9999,56fc52501d407a30d865f36870ae6149ba4a011d,2020-11-13,9803827427426697216,11.00,1200.0,29.75

### Total Trips of the day

In [9]:
start = "2020-01-01"
end = "2020-01-31"

total_trips = data[["date", "unique_key"]][(data["date"]>=start) & (data["date"]<=end)]\
                .groupby(["date"]).count()\
                .reset_index()\
                .rename({"unique_key": "total_trips"}, axis=1)

total_trips.to_dict('records')

[{'date': '2020-01-01', 'total_trips': 9},
 {'date': '2020-01-02', 'total_trips': 22},
 {'date': '2020-01-03', 'total_trips': 33},
 {'date': '2020-01-04', 'total_trips': 11},
 {'date': '2020-01-05', 'total_trips': 9},
 {'date': '2020-01-06', 'total_trips': 24},
 {'date': '2020-01-07', 'total_trips': 31},
 {'date': '2020-01-08', 'total_trips': 33},
 {'date': '2020-01-09', 'total_trips': 31},
 {'date': '2020-01-10', 'total_trips': 38},
 {'date': '2020-01-11', 'total_trips': 20},
 {'date': '2020-01-12', 'total_trips': 18},
 {'date': '2020-01-13', 'total_trips': 60},
 {'date': '2020-01-14', 'total_trips': 64},
 {'date': '2020-01-15', 'total_trips': 49},
 {'date': '2020-01-16', 'total_trips': 68},
 {'date': '2020-01-17', 'total_trips': 34},
 {'date': '2020-01-18', 'total_trips': 36},
 {'date': '2020-01-19', 'total_trips': 31},
 {'date': '2020-01-20', 'total_trips': 31},
 {'date': '2020-01-21', 'total_trips': 34},
 {'date': '2020-01-22', 'total_trips': 40},
 {'date': '2020-01-23', 'total_trips': 41},
 {'date': '2020-01-24', 'total_trips': 46},
 {'date': '2020-01-25', 'total_trips': 17},
 {'date': '2020-01-26', 'total_trips': 8},
 {'date': '2020-01-27', 'total_trips': 34},
 {'date': '2020-01-28', 'total_trips': 33},
 {'date': '2020-01-29', 'total_trips': 41},
 {'date': '2020-01-30', 'total_trips': 35}]

In [10]:
# {
# "data": [
# { "date": "2020-01-01", "total_trips": 321 }, { "date": "2020-01-02", "total_trips": 432 }, { "date": "2020-01-03", "total_trips": 543 },
#  ] }

### Fare Heatmap

In [11]:
selected_date = "2020-01-01"

fare_heatmap = data[["date", "s2id", "fare"]][(data["date"]==selected_date) & (data['s2id']!=0)]\
                .groupby(["s2id"]).mean()\
                .reset_index()

fare_heatmap.to_dict('records')

[{'s2id': 9803822520594333696, 'fare': 31.0},
 {'s2id': 9803822547639205888, 'fare': 7.0},
 {'s2id': 9803822583743774720, 'fare': 10.5},
 {'s2id': 9803822589280256000, 'fare': 9.25},
 {'s2id': 9803822596762894336, 'fare': 7.25},
 {'s2id': 9803822624545964032, 'fare': 5.75},
 {'s2id': 9803822667831181312, 'fare': 11.25},
 {'s2id': 9804252998086426624, 'fare': 48.75},
 {'s2id': 9804287209111552000, 'fare': 9.75}]

In [12]:
# {
# "data": [
# { "s2id": "951977d37", "fare": 13.21 }, { "s2id": "951977d39", "fare": 4.32 }, { "s2id": "951977d40", "fare": 5.43 }, { "s2id": "951978321", "fare": 9.87 }
# ] }

### Average speed in the past 24 hours

Average speed is the total distance travelled divided by total time of all trips

In [13]:
selected_date = "2020-01-01"

total_distance_travelled_km = data[["trip_miles"]][data["date"]==selected_date].sum()[0]*1.60934
total_time_taken_hours = data[["trip_seconds"]][data["date"]==selected_date].sum()[0]/3600
avg_speed = round(total_distance_travelled_km / total_time_taken_hours,2)

[{"average_speed": avg_speed}]

[{'average_speed': 30.67}]

In [14]:
# {
# "data": [
# { "average_speed": 24.7 }
# ] }